src/main/webapp/wsdl/StudentService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.gudimella.lavanya.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.gudimella.lavanya.com" xmlns:intf="http://service.gudimella.lavanya.com" xmlns:tns1="http://dto.gudimella.lavanya.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.gudimella.lavanya.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dto.gudimella.lavanya.com"/>
   <element name="addStudent">
    <complexType/>
   </element>
   <element name="addStudentResponse">
    <complexType/>
   </element>
   <element name="getAllStudents">
    <complexType/>
   </element>
   <element name="getAllStudentsResponse">
    <complexType>
     <sequence>
      <element name="getAllStudentsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStudentById">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStudentByIdResponse">
    <complexType>
     <sequence>
      <element name="getStudentByIdReturn" type="tns1:Student"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateStudent">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
      <element name="address" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateStudentResponse">
    <complexType/>
   </element>
   <element name="deleteStudent">
    <complexType>
     <sequence>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteStudentResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dto.gudimella.lavanya.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Student">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="roll_number" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllStudentsResponse">

      <wsdl:part element="impl:getAllStudentsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateStudentRequest">

      <wsdl:part element="impl:updateStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentByIdRequest">

      <wsdl:part element="impl:getStudentById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addStudentRequest">

      <wsdl:part element="impl:addStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addStudentResponse">

      <wsdl:part element="impl:addStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStudentByIdResponse">

      <wsdl:part element="impl:getStudentByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllStudentsRequest">

      <wsdl:part element="impl:getAllStudents" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateStudentResponse">

      <wsdl:part element="impl:updateStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentResponse">

      <wsdl:part element="impl:deleteStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentRequest">

      <wsdl:part element="impl:deleteStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StudentService">

      <wsdl:operation name="addStudent">

         <wsdl:input message="impl:addStudentRequest" name="addStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:addStudentResponse" name="addStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllStudents">

         <wsdl:input message="impl:getAllStudentsRequest" name="getAllStudentsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllStudentsResponse" name="getAllStudentsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStudentById">

         <wsdl:input message="impl:getStudentByIdRequest" name="getStudentByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStudentByIdResponse" name="getStudentByIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateStudent">

         <wsdl:input message="impl:updateStudentRequest" name="updateStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateStudentResponse" name="updateStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteStudent">

         <wsdl:input message="impl:deleteStudentRequest" name="deleteStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteStudentResponse" name="deleteStudentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentServiceSoapBinding" type="impl:StudentService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllStudents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllStudentsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllStudentsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStudentById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStudentByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStudentByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentServiceService">

      <wsdl:port binding="impl:StudentServiceSoapBinding" name="StudentService">

         <wsdlsoap:address location="http://localhost:8080/HibernateConfiguration/services/StudentService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
